@mixin login_admin {
    body {
        background: #fefefe;
        font-family: 'Roboto', sans-serif;
    }
    
    .login-box {
        margin-top: 125px;
        height: auto;
        background: #fefefe;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    
    .login-key {
        height: 100px;
        font-size: 80px;
        line-height: 100px;
        background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    }
    
    .login-title {
        margin-top: 15px;
        text-align: center;
        font-size: 30px;
        letter-spacing: 2px;
        margin-top: 15px;
        font-weight: bold;
        color: #1A2226;
    }
    
    .login-form {
        margin-top: 25px;
        text-align: left;
    }
    
    input[type=text] {
        background-color: #c7f3fd;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    
    input[type=password] {
        background-color: #c7f3fd;
        border: none;
        border-bottom: 2px solid #0DB8DE;
        border-top: 0px;
        border-radius: 0px;
        font-weight: bold;
        outline: 0;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    
    .form-group {
        margin-bottom: 40px;
        outline: 0px;
    }
    
    .form-control:focus {
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-bottom: 2px solid #0DB8DE;
        outline: 0;
        background-color: #1A2226;
        color: #ECF0F5;
    }
    
    input:focus {
        outline: none;
        box-shadow: 0 0 0;
    }
    
    label {
        margin-bottom: 0px;
    }
    
    .form-control-label {
        font-size: 10px;
        color: #6C6C6C;
        font-weight: bold;
        letter-spacing: 1px;
    }
    
    .btn-outline-primary {
        border-color: #0DB8DE;
        color: #0DB8DE;
        border-radius: 0px;
        font-weight: bold;
        letter-spacing: 1px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
    
    .btn-outline-primary:hover {
        background-color: #0DB8DE;
        right: 0px;
    }
    
    .login-btm {
        float: left;
    }
    
    .login-button {
        padding-right: 0px;
        text-align: right;
        margin-bottom: 25px;
    }
    
    .login-text {
        text-align: left;
        padding-left: 0px;
        color: #A2A4A4;
    }
    
    .loginBtn {
        padding: 0px;
    }
    .invalidFeedback {
        color: #ff0000;
    display: block;
    }
}

@mixin dashboard-admin {
  :root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #fefefe;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
        
}

@mixin navbar-home {
    body {
        background: #eee
    }

    .header2 {
        font-family: "Montserrat", sans-serif;
        color: #8d97ad;
        font-weight: 300
    }

    .header2.bg-success-gradiant {
        background: #2cdd9b;
        background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
        background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
        background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
        background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
        background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%)
    }

    .header2 .font-12 {
        font-size: 12px
    }

    .header2 .dropdown-item {
        padding: 8px 1rem;
        color: #8d97ad
    }

    .header2 .h2-nav .navbar-nav .nav-item .nav-link {
        padding: 5px 0px;
        color: #ffffff;
        font-weight: 400
    }

    .header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
        color: #263238
    }

    .header2 .h2-nav .navbar-nav .nav-item {
        margin: 0 4px
    }

    @media (min-width: 1024px) {
        .header2 .navbar-nav>.dropdown .dropdown-menu {
            min-width: 210px;
            margin-top: 0px
        }
    }

    @media (min-width: 1024px) {
        .header2 .dropdown-submenu:hover>.dropdown-menu {
            display: block
        }
    }

    .header2 .dropdown-toggle::after {
        display: none
    }

    @media (min-width: 1024px) {
        .header2 .hover-dropdown .navbar-nav>.dropdown:hover>.dropdown-menu {
            display: block;
            margin-top: 0px
        }
      }

    .header2  {
      .btn-dark {
        color: #fff;
        background-color: #202427;
        border-color: #202427;
        &:hover {
          color: #fff;
          background-color: #191c1f;
          border-color: #191c1f;
        }
      }
      .h2-nav .navbar-nav .nav-item .btn {
        opacity: .9;
        &:hover {
          opacity: 1
        }
      }
    }

    .header2 .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: 0;
        border-radius: 0.25rem;
        display: none
    }
}

@mixin home-section {
  .home-sec {
    background-image: url("../images/banner.jpg");
    height: 635px;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .content {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    h2 {
      text-shadow: 2px 2px #191c1f;
    }
    button {
      background-color: #2cdd9b;
      color: white;
      width: 120px;
    }
  }
}

@mixin form-register {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    body {
        background: #E1EBEC;
        font-family: 'Poppins', sans-serif
    }
    .row {
        border: none ;
        width: auto;
        border-radius: 0;
        box-sizing: border-box
    }

    .rcol {
        background: rgb(179, 233, 168);
        padding: 50px;
        height: 350px;
    }

    span.txt {
        color: #17C296
    }

    .greeting {
        padding-top: 200px;
        padding-right: 90px
    }

    h6.mt-3 {
        padding-right: 115px
    }

    .footer {
        margin-top: 220px
    }

    .footer span {
        color: #B0A1E2;
        font-size: 9px;
        cursor: pointer
    }

    
    .fab {
        color: #EDEDF5;
        font-size: 10px;
        margin-right: 20px;
        padding-top: 3px;
        cursor: pointer
    }

    h2.heading {
        font-weight: bold
    }

    .form-control {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #F2F2F2
    }

    .form-control::placeholder {
        font-size: 13px;
        color: #C2C2CC
    }

    .form-control:focus {
        box-shadow: none;
        border-bottom: 1px solid #F2F2F2
    }

    .fone input {
        padding-left: 40px
    }

    .fone {
        position: relative
    }

    .fone .fas {
        position: absolute;
        left: 0;
        top: 5px;
        padding: 8px 0px;
        color: #C2C2CC;
        font-size: 12px
    }

    .fone .image {
        position: absolute;
        left: 275px;
        top: 0px;
        cursor: pointer
    }

    .form-check-input {
        margin-top: 10px
    }

    .form-check-label {
        font-size: 9px;
        color: #C2C2CC
    }

    .btn-success {
        padding: 7px 40px;
        background: #11C892;
        border: none;
        border-radius: 30px;
        font-size: 9px
    }

    .btn-success:hover {
        background: #11C892
    }

    .btn-success:focus {
        box-shadow: none
    }

    u {
        cursor: pointer
    }

    p.exist {
        font-size: 1em;
        color: #C2C2CC
    }

    p.exist span {
        cursor: pointer;
        color: #4d457c
    }

    @media screen and (max-width: 993px) {
        .fone .image {
            position: absolute;
            left: 180px
        }

        .footer {
            margin-top: 170px
        }
    }

    @media screen and (max-width: 768px) {
        .row {
            width: 450px
        }
        .rcol {
            padding: 60px 180px 60px 60px
        }
    }

    @media screen and (max-width: 420px) {
        .rcol {
            padding: 60px 50px 60px 50px
        }
        .footer {
            margin-top: 140px
        }
    }
}

@mixin booking-form {
    
    body {
        background-color: blue
    }
    .box {
        border: 2px solid #ddd;
        padding: 10px 20px
    }
    .form-control {
        height: 70px;
    }
    .inputbox {
        border: none;
        outline: none
    }
    
    .h-blue {
        color: #49bff5;
        margin-bottom: 5px;
        padding-left: 4px;
        font-size: 14px;
        font-weight: 500
    }
    
    ::placeholder {
        margin-bottom: 5px;
        padding-left: 4px;
        font-size: 14px;
        font-weight: 400;
        opacity: .8;
        color: #ddd;
    }
    
    .textmuted {
        color: #ddd
    }
    
    .radio {
        display: inline-block;
        margin-left: 13px;
        cursor: pointer;
        font-weight: 500
    }
    
    .btn.radio-btn {
        position: relative
    }
    
    .radio input[type="radio"] {
        display: none
    }
    
    .radio span {
        height: 20px;
        width: 20px;
        border: 2px solid #ddd;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 8px;
        left: 0
    }
    
    .radio span::after {
        content: "";
        height: 10px;
        width: 10px;
        background-color: #49bff5;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 50%;
        transition: 300ms ease-in-out 0s;
    }
    
    .radio input[type="radio"]:checked~span::after {
        transform: translate(-50%, -50%) scale(1)
    }
    
    .outline-none {
        outline: none
    }
    
    .btn.btn-primary {
        height: 60px;
        font-size: 20px;
        padding: 10px
    }
}

@mixin cards-voyages {
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    .card {
        background-color: #B9F6CA;
        width: 350px;
        border-radius: 20px
    }

    .heading {
        font-weight: 700
    }

    .hour {
        margin-top: 1px;
        color: green;
        font-size: 12px
    }

    .ratings i {
        color: #388E3C
    }

    .btn {
        border-radius: 15px !important
    }

    .line-color {
        color: green;
        height: 3px
    }
}


@mixin search-input {
    .padding {
        padding: 10rem !important
    }
    
    body {
        background-color: #f8fafe
    }
    
    .domain-form .form-group {
        border: 1px solid #9ff0c8;
        padding: 20px
    }
    
    .domain-form .form-group input {
        height: 70px !important;
        border: transparent
    }
    
    .form-control {
        height: 52px !important;
        background: #fff !important;
        color: #3a4348 !important;
        font-size: 18px;
        border-radius: 0px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }
    
    .px-4 {
        padding-left: 1.5rem !important
    }
    
    .domain-form .form-group .search-domain {
        background: #22d47b;
        border: 2px solid #22d47b;
        color: #fff;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0
    }
    
    .domain-price span {
        color: #3a4348;
        margin: 0 10px
    }
    
    .domain-price span small {
        color: #24bdc9
    }
}