@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  background: #E1EBEC;
  font-family: 'Poppins', sans-serif;
}

.row {
  border: none;
  width: auto;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.rcol {
  background: #b3e9a8;
  padding: 50px;
  height: 350px;
}

span.txt {
  color: #17C296;
}

.greeting {
  padding-top: 200px;
  padding-right: 90px;
}

h6.mt-3 {
  padding-right: 115px;
}

.footer {
  margin-top: 220px;
}

.footer span {
  color: #B0A1E2;
  font-size: 9px;
  cursor: pointer;
}

.fab {
  color: #EDEDF5;
  font-size: 10px;
  margin-right: 20px;
  padding-top: 3px;
  cursor: pointer;
}

h2.heading {
  font-weight: bold;
}

.form-control {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #F2F2F2;
}

.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #C2C2CC;
}

.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #C2C2CC;
}

.form-control::-ms-input-placeholder {
  font-size: 13px;
  color: #C2C2CC;
}

.form-control::placeholder {
  font-size: 13px;
  color: #C2C2CC;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #F2F2F2;
}

.fone input {
  padding-left: 40px;
}

.fone {
  position: relative;
}

.fone .fas {
  position: absolute;
  left: 0;
  top: 5px;
  padding: 8px 0px;
  color: #C2C2CC;
  font-size: 12px;
}

.fone .image {
  position: absolute;
  left: 275px;
  top: 0px;
  cursor: pointer;
}

.form-check-input {
  margin-top: 10px;
}

.form-check-label {
  font-size: 9px;
  color: #C2C2CC;
}

.btn-success {
  padding: 7px 40px;
  background: #11C892;
  border: none;
  border-radius: 30px;
  font-size: 9px;
}

.btn-success:hover {
  background: #11C892;
}

.btn-success:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

u {
  cursor: pointer;
}

p.exist {
  font-size: 1em;
  color: #C2C2CC;
}

p.exist span {
  cursor: pointer;
  color: #4d457c;
}

@media screen and (max-width: 993px) {
  .fone .image {
    position: absolute;
    left: 180px;
  }
  .footer {
    margin-top: 170px;
  }
}

@media screen and (max-width: 768px) {
  .row {
    width: 450px;
  }
  .rcol {
    padding: 60px 180px 60px 60px;
  }
}

@media screen and (max-width: 420px) {
  .rcol {
    padding: 60px 50px 60px 50px;
  }
  .footer {
    margin-top: 140px;
  }
}

body {
  background: #eee;
}

.header2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.header2.bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.header2 .font-12 {
  font-size: 12px;
}

.header2 .dropdown-item {
  padding: 8px 1rem;
  color: #8d97ad;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
  padding: 5px 0px;
  color: #ffffff;
  font-weight: 400;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
  color: #263238;
}

.header2 .h2-nav .navbar-nav .nav-item {
  margin: 0 4px;
}

@media (min-width: 1024px) {
  .header2 .navbar-nav > .dropdown .dropdown-menu {
    min-width: 210px;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .header2 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.header2 .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1024px) {
  .header2 .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}

.header2 .btn-dark {
  color: #fff;
  background-color: #202427;
  border-color: #202427;
}

.header2 .btn-dark:hover {
  color: #fff;
  background-color: #191c1f;
  border-color: #191c1f;
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
  opacity: .9;
}

.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
  opacity: 1;
}

.header2 .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none;
}

.home-sec {
  background-image: url("../images/banner.jpg");
  height: 635px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.content {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content h2 {
  text-shadow: 2px 2px #191c1f;
}

.content button {
  background-color: #2cdd9b;
  color: white;
  width: 120px;
}

body {
  background-color: blue;
}

.box {
  border: 2px solid #ddd;
  padding: 10px 20px;
}

.form-control {
  height: 70px;
}

.inputbox {
  border: none;
  outline: none;
}

.h-blue {
  color: #49bff5;
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 500;
}

::-webkit-input-placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

:-ms-input-placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

::-ms-input-placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

::placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

.textmuted {
  color: #ddd;
}

.radio {
  display: inline-block;
  margin-left: 13px;
  cursor: pointer;
  font-weight: 500;
}

.btn.radio-btn {
  position: relative;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 20px;
  width: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
}

.radio span::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #49bff5;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  -webkit-transition: 300ms ease-in-out 0s;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.outline-none {
  outline: none;
}

.btn.btn-primary {
  height: 60px;
  font-size: 20px;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */