body {
  background: #eee;
}

.header2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.header2.bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.header2 .font-12 {
  font-size: 12px;
}

.header2 .dropdown-item {
  padding: 8px 1rem;
  color: #8d97ad;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
  padding: 5px 0px;
  color: #ffffff;
  font-weight: 400;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
  color: #263238;
}

.header2 .h2-nav .navbar-nav .nav-item {
  margin: 0 4px;
}

@media (min-width: 1024px) {
  .header2 .navbar-nav > .dropdown .dropdown-menu {
    min-width: 210px;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .header2 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.header2 .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1024px) {
  .header2 .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}

.header2 .btn-dark {
  color: #fff;
  background-color: #202427;
  border-color: #202427;
}

.header2 .btn-dark:hover {
  color: #fff;
  background-color: #191c1f;
  border-color: #191c1f;
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
  opacity: .9;
}

.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
  opacity: 1;
}

.header2 .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none;
}

.home-sec {
  background-image: url("../images/banner.jpg");
  height: 635px;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.content {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content h2 {
  text-shadow: 2px 2px #191c1f;
}

.content button {
  background-color: #2cdd9b;
  color: white;
  width: 120px;
}

body {
  background-color: blue;
}

.box {
  border: 2px solid #ddd;
  padding: 10px 20px;
}

.form-control {
  height: 70px;
}

.inputbox {
  border: none;
  outline: none;
}

.h-blue {
  color: #49bff5;
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 500;
}

::-webkit-input-placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

:-ms-input-placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

::-ms-input-placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

::placeholder {
  margin-bottom: 5px;
  padding-left: 4px;
  font-size: 14px;
  font-weight: 400;
  opacity: .8;
  color: #ddd;
}

.textmuted {
  color: #ddd;
}

.radio {
  display: inline-block;
  margin-left: 13px;
  cursor: pointer;
  font-weight: 500;
}

.btn.radio-btn {
  position: relative;
}

.radio input[type="radio"] {
  display: none;
}

.radio span {
  height: 20px;
  width: 20px;
  border: 2px solid #ddd;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
}

.radio span::after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #49bff5;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  -webkit-transition: 300ms ease-in-out 0s;
  transition: 300ms ease-in-out 0s;
}

.radio input[type="radio"]:checked ~ span::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.outline-none {
  outline: none;
}

.btn.btn-primary {
  height: 60px;
  font-size: 20px;
  padding: 10px;
}

.padding {
  padding: 10rem !important;
}

body {
  background-color: #f8fafe;
}

.domain-form .form-group {
  border: 1px solid #9ff0c8;
  padding: 20px;
}

.domain-form .form-group input {
  height: 70px !important;
  border: transparent;
}

.form-control {
  height: 52px !important;
  background: #fff !important;
  color: #3a4348 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.px-4 {
  padding-left: 1.5rem !important;
}

.domain-form .form-group .search-domain {
  background: #22d47b;
  border: 2px solid #22d47b;
  color: #fff;
  border-radius: 0;
}

.domain-price span {
  color: #3a4348;
  margin: 0 10px;
}

.domain-price span small {
  color: #24bdc9;
}
/*# sourceMappingURL=style.css.map */